/*
 * MIT License
 *
 * Copyright (c) 2023-2024 Karol Zimmer
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

#include "res.h"
#include <windows.h>
#include <bc2version.h>

#define DIALOG_STYLE (DS_CENTER | DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX)
#define DIALOG_EX_STYLE (WS_EX_OVERLAPPEDWINDOW | WS_EX_TOPMOST)

#define ABOUT_STYLE (DS_CENTER | DS_SETFONT | WS_CAPTION)

IDD_BMI DIALOGEX 0, 0, 160, 80
STYLE DIALOG_STYLE
EXSTYLE DIALOG_EX_STYLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
CAPTION "BMI Calculator"
FONT 9, "MS Shell Dlg"
{
	EDITTEXT IDC_HEIGHT1, 5, 5, 25, 15, ES_CENTER | ES_NUMBER
	CTEXT "", IDC_HEIGHT1_LABEL, 33, 7, 10, 12
	EDITTEXT IDC_HEIGHT2, 55, 5, 25, 15, ES_CENTER | ES_NUMBER
	CTEXT "in", IDC_HEIGHT2_LABEL, 83, 7, 10, 12
	EDITTEXT IDC_MASS1, 5, 25, 25, 15, ES_CENTER | ES_NUMBER
	CTEXT "", IDC_MASS1_LABEL, 33, 27, 10, 12
	EDITTEXT IDC_MASS2, 55, 25, 25, 15, ES_CENTER | ES_NUMBER
	CTEXT "lbs", IDC_MASS2_LABEL, 83, 27, 10, 12
PUSHBUTTON "Clear", IDABORT, 114, 42, 42, 16
	DEFPUSHBUTTON "Calculate", IDOK, 114, 60, 42, 16
}

IDD_ABOUT DIALOGEX DISCARDABLE
0, 0, 120, 80
STYLE ABOUT_STYLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
CAPTION "About"
FONT 10, "MS Shell Dlg"
{
	ICON IDI_ICON_GROUP, IDC_DUMMY1, 53, 5, 0, 0
	CTEXT "BMI Calculator", IDC_DUMMY2, 0, 24, 120, 10
	CTEXT VERSION_STR, IDC_DUMMY3, 0, 34, 120, 10
CTEXT "kjmz 2023-2024", IDC_DUMMY4, 0, 44, 120, 10
	CTEXT "Distributed under the MIT License", IDC_DUMMY5, 0, 54, 120, 10
	DEFPUSHBUTTON "OK", IDOK, 48, 65, 24, 12
}
